# Ignore the virtual environment folder
venv/
.venv/

# Ignore Python cache files
__pycache__/

# Ignore the environment variables file which contains our secrets
.env

# Ignore IDE configuration files
.idea/
.vscode/